{% load schedule_tags %}
<ul class="list-group mb-3" id="file-list-{{ course.id }}">
  {% for file in course.files.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center" data-file-id="{{ file.id }}">
      <span>
        <a href="{{ file.file.url }}" download target="_blank">{{ file.file.name|basename }}</a>
        {% if file.description %}<br><small>{{ file.description }}</small>{% endif %}
      </span>
      {% if perms.schedule.delete_coursefile %}
      <button class="btn btn-danger btn-sm delete-file-btn" data-file-id="{{ file.id }}">Supprimer</button>
      {% endif %}
    </li>
  {% empty %}
    <li class="list-group-item">Aucun PDF pour ce cours.</li>
  {% endfor %}
</ul>
