<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<footer style="background:#002868;color:#fff;padding:2.5rem 0 1rem 0;text-align:center;margin-top:3rem;border-radius:1.2rem 1.2rem 0 0;font-size:1.08rem;">
    <div class="container">
        <div class="row justify-content-center mb-2">
            <div class="col-12 col-md-6 mb-2">
                <strong>American University of Kinshasa</strong><br>
                123, Avenue de l'Université, Gombe, Kinshasa, RDC<br>
                Email: <a href="mailto:auketudiant@gmail.com" style="color:#fff;text-decoration:underline;">auketudiant@gmail.com</a> &nbsp;|&nbsp; Tel: +243 900 123 456
            </div>
            <div class="col-12 col-md-6 mb-2">
                <div class="mb-2">Suivez-nous :</div>
                <a href="https://twitter.com/auk_cd" target="_blank" class="me-3" style="color:#fff;">
                    <i class="fab fa-x-twitter" style="font-size:1.5rem;"></i>
                  </a>
                  <a href="https://www.tiktok.com/@auk_cd" target="_blank" class="me-3" style="color:#fff;">
                    <i class="fab fa-tiktok" style="font-size:1.5rem;"></i>
                  </a>
                  <a href="https://facebook.com/auk_cd" target="_blank" class="me-3" style="color:#fff;">
                    <i class="fab fa-facebook" style="font-size:1.5rem;"></i>
                  </a>
                  <a href="https://instagram.com/auk_cd" target="_blank" class="me-3" style="color:#fff;">
                    <i class="fab fa-instagram" style="font-size:1.5rem;"></i>
                  </a>
            </div>
        </div>
        <hr style="background:#fff;opacity:0.15;">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-7 text-center text-md-start mb-2 mb-md-0">
                &copy; {{ now|date:'Y' }} American University of Kinshasa &mdash; Tous droits réservés
            </div>
            <div class="col-12 col-md-5 text-center text-md-end">
                <span style="font-size:1.08rem;"> Réalisé par <strong>SteveMav</strong></span>
                
            </div>
        </div>
    </div>
</footer>
