<!DOCTYPE html>
{% load schedule_tags %}
<html>
<head>
    <title>Liste des cours</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
    <h2 class="mb-4">Liste des cours par jour</h2>

    {% for day in days_of_week %}
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h3 class="mb-0">{{ day }}</h3>
            </div>
            <div class="card-body">
                {% if courses_by_day|get_item:day %}
                    <div class="list-group">
                    {% for item in courses_by_day|get_item:day %}
                        <div class="list-group-item">
                            <h5 class="mb-1">
    <a href="#" data-bs-toggle="modal" data-bs-target="#modalCourseFiles{{ item.course.id }}">
        {{ item.course.name }}
    </a>
</h5>
<p class="mb-1">
    <strong>Professeur:</strong> {{ item.course.professor }}<br>
    <strong>Faculté:</strong> {{ item.course.faculty.name }}<br>
    <strong>Horaire:</strong> {{ item.schedule.start_time }} - {{ item.schedule.end_time }}<br>
    <strong>Status:</strong> {{ item.course.finished|yesno:"Terminé,En cours" }}
    {% if perms.schedule.change_courseschedule %}
    <div class="mt-2">
        <a href="{% url 'schedule:edit_schedule' item.schedule.id %}" class="btn btn-sm btn-primary">
            <i class="bi bi-pencil"></i> Modifier l'horaire
        </a>
        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modalCourseFiles{{ item.course.id }}">Ajouter un PDF</button>
    </div>
    {% endif %}
</p>
{% include 'schedule/course_file_modal.html' with course=item.course %}
                        </div>
                    {% endfor %}
                    </div>
                {% else %}
                    <p class="text-muted">Aucun cours prévu ce jour</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
